In [ ]:
open Windows
Type Anaconda prompt
The Terminal will be opened
In terminal type jupyter Notebook & press

# **Python Classes**

### **1. Comments**

In [1]:
# 4 Types of Data Types
# int =  Whole Number (0,end number & -1 & end number)
# float = Decimal Number (12.5, 1014.15)
# str = Sequence of Characters ("This is my String", 'This is my String')
# bool = True & False (1, 0)

In [4]:
print("This is my First Print Statement")

This is my First Print Statement

In [6]:
my_number = 14

In [8]:
print(my_number)

14

In [10]:
print(my_number

SyntaxError: incomplete input (2043362480.py, line 1)

In [12]:
my_varchar = 10 + "Cambridge"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print(my_varchar)

In [3]:
# This is my comment

"""
sajjkosd
sjkhkhsd'
njknlnsdc
"""

"\nsajjkosd\nsjkhkhsd'\nnjknlnsdc\n"

There are two types of comments: single-line comments and multi-line comments.

Comments are used to explain code and make it more readable.

### Single-Line Comment

A single-line comment starts with the `#` symbol and continues to the end of the line. It is used for short explanations or notes.

**Single-line comment Example:**

```python
# This is a single-line comment
print("Hello, World!")  # This is also a single-line comment
```

```python
# This is a multi-line comment
# which is actually just a series
# of single-line comments.
print("Hello, World!")
```

### Multi-Line Comment

Python doesn't have a specific multi-line comment syntax like some other languages. However, you can use a series of single-line comments or a multi-line string (triple quotes) that is not assigned to any variable. This is often used as a multi-line comment.

**Multi-line Comment Example:**

```python
"""
This is a multi-line comment
using triple quotes. Although it is technically a string,
it is not assigned to any variable, so it functions as a comment.
"""
print("Hello, World!")
```

In [37]:
# I have enrolled the course

""" I have enrolled the course
sdvjkhsdvhiv
sdjkdfv
"""
course_enrolled = True
print(course_enrolled)

True

In [4]:
# Cambridge

In [1]:
print("Heloo" + 5)

TypeError: can only concatenate str (not "int") to str

In [25]:
print(5 + 5)

10

In [27]:
print("Cambridge" + "Infotech")

CambridgeInfotech

In [9]:
print("Hello World"

SyntaxError: incomplete input (353226650.py, line 1)

In [11]:
c = 1 + "This is my name"

print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### **2. Types of Error**

### Syntax Error

A **syntax error** occurs when the code doesnâ€™t follow the rules of the Python language. Itâ€™s like making a grammatical mistake in a sentenceâ€”youâ€™re not speaking the language correctly.

**Example:**

```python
print("Hello, World!"  # Missing closing parenthesis
```

**Explanation:** In the above code, thereâ€™s a syntax error because the closing parenthesis for the `print` function is missing. Python will raise an error message indicating a problem with the syntax.

### Semantic Error

A **semantic error** occurs when the code is syntactically correct but doesnâ€™t do what you intended. Itâ€™s like writing a grammatically correct sentence that still doesnâ€™t make sense or doesnâ€™t achieve what you want.

**Example:**

```python
# Incorrect calculation
result = 5 + "10"  # Trying to add a number and a string
print(result)
```

**Explanation:** In the above code, thereâ€™s no syntax error, but thereâ€™s a semantic error because adding a number and a string doesnâ€™t make sense in Python. The program will raise an error when you run it.

In [31]:
print(5+'10')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### **3. Case Sensitivity**

In [15]:
myName = "Cambridge"

In [21]:
print(myName)

Cambridge

In [39]:
name = "Abhi"
age = 50
height = 5.9
is_student = True

In [41]:
name = "Abhishek"
print(name)

Abhishek

In [43]:
Student_name9 = 'Abhishek'
Student_name = 'cambridge'
print(Student_name)

cambridge

In [45]:
student_name = 'cambridge'

In [47]:
print(student_name)

cambridge

In [39]:
Student_name = 'Abhishek'
student_name = 'cambridge'
print(Student_name)
print(student_name)

Abhishek
cambridge

In [47]:
no_of_Student_1 = 'cambridge'

**case sensitivity** means that uppercase and lowercase letters are treated differently. This is similar to how "Computer" and "computer" are considered different.

**Variable Names:** `name`, `Name` are all considered different variables.

**Example:**

```python
name = 'Abhi'
Name = 'Cambridge'
NAME = 'InfoTech'

print(name)  # Output: Abhi
print(Name)  # Output: Cambridge
print(NAME)  # Output: InfoTech
```

### **4. Naming Conventions**

In [23]:
@myVariable = 12

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1789026466.py, line 1)

In [25]:
_my_Variable = 12

In [29]:
my_Variable_ = 10

In [31]:
my_Variable_10 = 10

In [ ]:
myNameIsAbhishek =

1. **Variables and Functions**: Use lowercase with words separated by underscores & can include numbers in between (e.g., `myvariable`, `myFunction()`).

2. **Classes**: Use CamelCase with no underscores (e.g., `MyClass`, `DataScience`).

3. **Constants**: Use uppercase with words separated by underscores (e.g., `MAX_SIZE`, `PI`).

In [57]:
name7 = "abhinav"
print(name7)

abhinav

In [33]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### **5. Indentation**

In [26]:
for i in range(5):
    print(i)

0
1
2
3
4

In [30]:
def my_function():
    print("Hello")

In [57]:
#True = 1`
#False = 1

In [45]:
a = "Cambridge"

def my_function(a):
    print(a)

my_function(a)

Cambridge

**Indentation** in Python uses spaces or tabs to define blocks of code.

### Why Indentation Matters

- **Code Blocks:** Indentation tells Python which statements belong to which block.

For example, the code inside a loop or a function is indented to show itâ€™s part of that block.

**Example:**

```python
def greet():
    print("Hello!")  # This line is part of the 'greet' function because it's indented

greet()  # Calls the 'greet' function
```
**Consistent Indentation:**  All lines of code in the same block must be indented the same amount. Mixing spaces and tabs can lead to errors.

### **What is Python ?**
Python is a high-level, easy-to-learn programming language known for its simplicity and readability. It allows you to write code in a way that's close to human language, making it easier to understand and debug. Python is versatile and widely used in various fields, including web development, data analysis, artificial intelligence, and automation. Its clear syntax and extensive libraries make it a popular choice for both beginners and experienced programmers.

### Python is an interpreted language, which means that Python's source code is converted into bytecode and then executed each time the program runs:

- Line-by-line execution
    - Interpreted languages run code line by line, which makes them easier to test and debug.

### **Understand Deeply how python is helpful ?**
Imagine Python is like a special set of building blocks for creating things on a computer. 

When you want to tell a computer what to do, you use these blocks to make instructions. Python is a kind of building block set that's really easy to use. It's like having big, colorful blocks that fit together perfectly to make something cool, like a toy or a castle. 

Just like you can build lots of different things with your blocksâ€”like cars, houses, or spaceshipsâ€”using Python you create all kinds of things on a computer, like games, websites, or robots. And because Python is easy and fun.

### **What is the Python current version ?**
As of April 2024, the stable version of Python is 3.12, and it's the only version that receives active support. Python 3.8 is the oldest version that still receives security support, but it's no longer receiving active support. 
 
The next version of Python, 3.13, is scheduled for release on October 1, 2024. Pre-release versions and Docker images are available for developers.

### **How python is helpful for Data Scientist, Data Analyst & Business Analyst ?**
**1. Data Scientists**: Python helps by providing powerful tools for data manipulation, machine learning, and visualization. 

**2. Data Analysts**: Using Python for cleaning data, exploring datasets, and creating visualizations to uncover insights. 

**3. Business Analysts**: Business Analysts benefit from Python by automating data processing, generating forecasts, and creating reports. 

Pythonâ€™s ease of use and extensive libraries make it a versatile tool for analyzing and interpreting data across these roles.

*********************************************************************************

***Lets Dive deeper into Python Practicals.......!***

### **1. Basic Data Types**
- **Integer (`int`):** Whole numbers, e.g., `1`, `42`, `-7`
- **Float (`float`):** Decimal numbers, e.g., `3.14`, `0.001`, `-2.5`
- **String (`str`):** Text, e.g., `"Hello, world!"`, `'data science'`
- **Booleans (`bool`):** True or False values, e.g., `True`, `False`

### **2. Variable Declaration**

In [32]:
myvariable = "Welcome to Cambridge"

In [34]:
type(myvariable)

str

In [26]:
print(myvariable)

Welcome to Cambridge

In [28]:
myNumber = 576
print(myNumber,myvariable)

576 Welcome to Cambridge

In [30]:
newFloat = 5.9
print(newFloat)

5.9

In [50]:
myBool = True
print(myBool)

True

In [52]:
print(True, myNumber, myvariable)

True 576 Welcome to Cambridge

In [54]:
print(f'Hello There, {myvariable}, Your number is {myNumber} and {myBool} your a student')

Hello There, Welcome to Cambridge, Your number is 576 and True your a student

In [56]:
type(myvariable)

str

In [58]:
type(myNumber)

int

In [60]:
type(myBool)

bool

In [62]:
type(newFloat)

float

In [20]:
type(newVariable)

str

In [24]:
type(newNumber)

int

In [26]:
int()

0

In [28]:
float()

0.0

In [30]:
str()

''

In [32]:
bool()

False

In [34]:
num = 4.5

In [38]:
integer = int(num)

In [40]:
type(integer)

int

In [42]:
my_string = str(num)

In [54]:
bool(num)

True

In [56]:
string = 'Abhi'
bool(string)

True

In [48]:
print(type(my_string))

<class 'str'>

In [64]:
name = "ABHI"
age = 63
_is_student = False
height = 5.9

### **3. Printing Variable**

In [75]:
print(name)
print(age)
print(_is_student)
print(height)

ABHI
63
False
5.9

### **4. Type Checking**

In [68]:
type(name)

str

In [70]:
type(age)

int

In [72]:
type(student)

bool

In [74]:
type(height)

float